


/* .grid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97vh;
  position: relative;
  } */
  
/* to center button 
make a conditional statement that divides the screen pixel amount by 2 on either axis */

#startB {
  border-radius: 50%;
}

body {
  background-color: red;


  /* background-image:url('https://i.gifer.com/IDIm.gif'); background-repeat:repeat; */

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-position: center;
  min-width: 98vw;
  min-height: 98vh;
  
}

.url {
  cursor: url(crosshair.png), auto;
};

