
.scoreBoard {
  font-size: 35px;
  font-family: 'Courier New', Courier, monospace;
  font-style: oblique;
  font-weight: bold;
  color: yellow;
  text-shadow:
  0 0 7px rgb(254, 254, 254),
  0 0 10px rgb(249, 249, 249),
  0 0 21px rgb(255, 255, 255),
  0 0 42px rgb(255, 255, 255),
  0 0 82px rgb(230, 12, 12),
  0 0 92px rgb(223, 15, 15),
  0 0 102px rgb(235, 247, 5),
  0 0 151px rgba(227, 252, 2, 0.9);
}

.highScore {
  font-size: 35px;
  font-family: 'Courier New', Courier, monospace;
  font-style: oblique;
  font-weight: bold;
  color: rgb(153, 0, 255);
  text-shadow:
  0 0 7px rgb(254, 254, 254),
  0 0 10px rgb(249, 249, 249),
  0 0 21px rgb(255, 255, 255),
  0 0 42px rgb(255, 255, 255),
  0 0 82px rgb(230, 12, 12),
  0 0 92px rgb(223, 15, 15),
  0 0 102px rgb(235, 247, 5),
  0 0 151px rgba(227, 252, 2, 0.9);
}

body {
  /* background-color: red; */


  background-image:url('https://i.gifer.com/IDIm.gif'); background-repeat:repeat;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  background-size: cover;
  background-position: center;
  min-width: 98vw;
  min-height: 98vh;
  
}

#r1:hover {
  cursor: url(crosshair.png) 54 54, auto;
}

